<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TastingRoomDelMar copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TastingRoomDelMar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D78682791CEEA73F004B98A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FFF7AC1C3AFB0600020D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FFF7C01C3AFB0600020D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FFF7CB1C3AFB0600020D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
